/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.sidebar-retract-btn {
    flex-basis: 1;
    flex-grow: 1;
    font-size: 1rem;
    cursor: pointer;
    color: lightgray;
}

.sidebar-retract-btn:hover {
    background-color: aliceblue;
}
