.card-body {
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: 0.25rem;
    width: 16rem;
    height: 6rem;
    position: relative;
}

.card-body:hover {
    background-color: var(--focus-color);
}

.card-body > textarea {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 600;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: var(--default-font);
    resize: none;
    cursor: pointer;
    outline: none;
}

.card-body > textarea:focus {
    border: none;
}

.action-bar {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 3.5rem;
    /* border-radius: 0.25rem;: */
    height: 1.5rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
}

.action-btn:first-child {
    /* border-right: 1px solid var(--border-color); */
}

.action-btn {
    padding: 0.25rem;
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: pointer;
}

.action-btn:hover {
    background-color: var(--hover-color);
}