.layout {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 100vh;
}

.sidebar {
    flex-basis: 16rem;
    flex-grow: 1;
}

.content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}

.content-header {
    display: flex;
    height: 3rem;
    padding: 0rem 0.25rem;
    align-items: center;
}

.board-name {
    padding: 0.5rem;
}

